.row {
  display: flex;
  align-content: center;
}

.row--stretch{
  height: 100%;
}

.row--center{
  justify-content: center;
}

.row--space-between{
  justify-content: space-between;
}

.row--space-around{
  justify-content: center;
}

.col{}
.col--vertically-center{
  align-self: center;
}