.nav-primary{}

.btn{}
.btn--dropdown{
  display: block;
  position: relative;
  cursor: pointer;
}
.btn--dropdown::after{
  position: absolute;
  padding-left: .6rem;
  content: '▼';
  font-size: .5rem;
  top: .4rem;
}



.nav-overlay-card{
  display: block;
  height: 0px;
  transition: height ease-in .1s, background-color ease-in .1s;
  overflow: hidden;
}
.nav-overlay-card--absolute{
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-overlay-card--is-open {
  background-color: #2A2A2A;
  height: 350px;
  cursor: pointer;
}

.overlay--dim{
  opacity: .5;
}

.btn--rect{}

.brand{}

.menu{}
.menu--vertical{}

.link-item{
  display: block;
}
.link-item--is-selected{}
.link-item__title{
  display: inline-block;
}
.link-item__description{
  display: inline-block;
}

.link{
  cursor: pointer;
}
.link--basic{}
.link--see-more{
  display: inline-block;
}
.link--see-more::after{
  content: ' \2192'
}
.link--see-more:hover{
  letter-spacing: .02rem;
}

.post{
  display: block;
  padding-bottom: 154px;
}
.post__title{
  display: block;
  font-size: 2rem;
  letter-spacing: .2rem;
  padding-bottom: 15px;
}
.post__content{
  display: block;
  padding-bottom: 15px;
}
.post__footer{
  display: block;
}
