.nav-primary{}

.btn{}
.btn--dropdown{
  display: block;
  position: relative;
  cursor: pointer;
}
.btn--dropdown::after{
  position: absolute;
  padding-left: .6rem;
  content: '▼';
  font-size: .5rem;
  top: .4rem;
}



.nav-overlay-card{
  display: block;
  height: 0px;
  transition: height ease-in .1s, background-color ease-in .1s;
  overflow: hidden;
}
.nav-overlay-card--absolute{
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav-overlay-card--is-open {
  background-color: #2A2A2A;
  height: 350px;
  cursor: pointer;
}

.overlay--dim{
  opacity: .5;
}

.btn--rect{}

.brand{}

.menu{}
.menu--vertical{}

.main-content{
  display: block;
}

.link-list{
  display: block;
  max-height: 200px;
  overflow-y: scroll;

  padding-top: 100px;
  padding-bottom: 100px;
}
.link-list::-webkit-scrollbar-track
{
    position: absolute;
    right: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.link-list::-webkit-scrollbar
{
    border-radius: 10px;
    width: 6px;
    background-color: #F5F5F5;
}

.link-list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track
{
    position: absolute;
    right: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    border-radius: 10px;
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.link-item{
  display: block;
  position: relative;
  width: 300px;
}
.link-item::before{
  content: ' ';
  left: -2rem;
  transition: left ease-in .2s;
}
.link-item:hover::before{
  content: ' ';
  position: absolute;
  height: 2rem;
  width: .25rem;
  left: -1rem;
  top: .25rem;
  background-color: white;
}
.link-item__title{
  display: block;
  font-weight: 600;
  font-size: 1rem;
}
.link-item__description{
  color: #D4D4D4;
  display: block;
  font-size: .8rem;
  margin-bottom: 2rem;
}

.link{
  cursor: pointer;
}
.link--basic{}
.link--see-more{
  display: inline-block;
}
.link--see-more::after{
  content: ' \2192'
}
.link--see-more:hover{
  letter-spacing: .02rem;
}

.post{
  display: block;
  padding-bottom: 154px;
}
.post__title{
  display: block;
  font-size: 2rem;
  letter-spacing: .2rem;
  padding-bottom: 15px;
}
.post__content{
  display: block;
  padding-bottom: 15px;
}
.post__footer{
  display: block;
}
