.nav-primary{}

.btn{}
.btn--dropdown{
  position: relative;
}
.btn--dropdown::after{
  position: absolute;
  padding-left: .6rem;
  content: '▼';
  font-size: .5rem;
  top: .4rem;
}

.nav-overlay-card{
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0px;
  overflow: hidden;
}
.nav-overlay-card--is-open {
  background-color: #2A2A2A;
  height: 250px;
}

.overlay--dim{
  opacity: .5;
}

.btn--rect{}

.brand{}

.menu{}
.menu--vertical{}

.link-item{}
.link-item--is-selected{}
.link-item__title{}
.link-item__description{}

.link{}
.link--basic{}
.link--see-more{}
.link--see-more::after{
  content: ' \2192'
}
.link--see-more:hover{
  letter-spacing: .02rem;
}

.post{
  padding-bottom: 154px;
}
.post__title{
  font-size: 2rem;
  letter-spacing: .2rem;
  padding-bottom: 15px;
}
.post__content{
  padding-bottom: 15px;
}
.post__footer{}

.image{}